<div id="feeds_wrap">
  <h2>Feeds</h2>
  <span id="add_feed">+</span>
  <form id="new_feed">
    <input placeholder="URL" type="text" name="url" id="new_feed_url"></input>
  </form>
  <ul id="feeds">
    <li id="all">All</li>
  </ul>
</div>

<div id="entries_wrap">
  <h2 id="entries_title">&nbsp;</h2>
  <ul id="entries">
    <p>
      Add feeds using the <strong>+</strong> button to the left. Click
      a feed to view its contents.
    </p>
  </ul>
</div>
