body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

div#feeds_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 150px;
}

div#feeds_wrap h2 {
  padding: 10px 0 0 0;
  margin: 0 10px;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

span#add_feed {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #00e;
  display: block;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
}

span#add_feed:hover {
  background: #eee;
}

form#new_feed {
  display: none;
  font-size: 0.8em;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: -1px 10px 0 10px;
}

form#new_feed.visible {
  display: block;
}

form#new_feed input {
  width: 124px;
}

ul#entries, ul#feeds {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#feeds > li {
  cursor: pointer;
  padding: 0;
  margin: 5px 10px;
}

ul#feeds > li.selected {
  color: #00e;
}

div#entries_wrap > h2 {
  position: fixed;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  margin: 0px;
  padding-top: 10px;
  padding-left: 12px;
  top: 0px;
  left: 150px;
  right: 10px;
  background: #fff;
}

ul#entries > li.selected > div.body {
  display: block;
}

ul#entries > li > div.body {
  display: none;
  clear:both;
  max-width: 640px;
}

ul#entries > li > h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  border-bottom: 1px solid transparent;
}

ul#entries > li > h3 > a {
  color: #000;
  text-decoration: none;
}

ul#entries > li.read > h3 > a {
  color: #666;
}

ul#entries > li.selected > h3 > a {
  color: #00e;
}

ul#entries > li > div.meta {
  font-size: 0.8em;
  font-weight: normal;
  color: #999;
}

div#entries_wrap {
  margin-left: 150px;
  margin-right: 10px;
  padding-top: 26px;
}

ul#entries > li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid transparent;
  padding: 10px;
  padding-right: 20px;
  padding-left: 10px;
  margin-left: 0px;
}

ul#entries > li.selected {
  border-bottom: 1px solid #00e;
  border-left: 1px solid #00e;
  border-bottom-left-radius: 4px;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
}

